.about {
   padding-top: 128px;
   background-size: cover;
   background-attachment: fixed;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;

   article {
      margin: 20px;
      border-radius: 20px;
      background-color: rgba(#fff, 0.85);
   }
   &__title {
      padding: 0 20px;
      text-align: center;
   }
   &__foto {
      padding: 30px;
      img {
         width: 100%;

         position: relative;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
   &__text {
      padding: 30px;
   }
   &__subtitle {
      font-size: 1.5rem;
   }
}
