.about {
	padding-top: 64px;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	article {
		margin-top: 20px;
		border-radius: 20px;
		background-color: rgba(#fff, 0.85);
	}
	&__title {
		text-align: center;
	}
	&__row {
	}
	&__foto {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		img {
			padding: 30px;
			width: 100%;
		}
	}
	&__text {
		flex: 0 1 66.67%;
	}
	&__subtitle {
		padding: 30px;
		font-size: 1.5rem;
	}
}
