.arrow {
   $animTime: 1s;
   $size: 50px;

   $border: 2px solid white;
   > ::after,
   > ::before,
   span {
      animation: arrow $animTime infinite;
      transform: rotate(45deg) translateX(-50%);
      display: block;
      width: $size;
      height: $size;
      position: relative;
      left: 50%;

      border: {
         right: $border;
         bottom: $border;
      }
   }
   > :after,
   > :before {
      content: "";
   }
   > ::before {
      animation-delay: $animTime / -2;
   }
   span {
      animation-delay: $animTime / -4;
   }
   > ::after {
      animation-delay: 0s;
   }
}

@keyframes arrow {
   0%,
   80%,
   100% {
      opacity: 0;
   }
   40% {
      opacity: 1;
   }
}
