$hbgc: rgba(#fff, 0.85);
$hc: rgba(#000, 0.85);

$bgc: #242f22 !important;
$c: rgba(255, 255, 255, 0.85);
$border-style: 1px solid #bbb;

.title {
   margin-bottom: 0;
   font-size: 2.5rem;
   text-align: center;
}
.icon {
   border-radius: 50%;
}
