* {
  margin: 0;
  border: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

header,
nav,
footer,
aside {
  display: block;
}

html,
body,
.root,
#root {
  min-width: 100%;
  min-height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.ant-menu {
  border-bottom: none !important;
}
.ant-layout {
  height: 100%;
}
.ant-layout-header {
  background-color: #fff !important;
}
.divider-h {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.divider-h::after {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  width: 90%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#bbb), to(transparent));
  background-image: linear-gradient(to right, transparent, #bbb, transparent);
}
.divider-v {
  position: relative;
  padding-right: 5px;
}
.divider-v::after {
  content: "";
  position: absolute;
  left: 100%;
  width: 1px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#bbb), to(transparent));
  background-image: linear-gradient(to bottom, transparent, #bbb, transparent);
}
.divider-v::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1px;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#bbb), to(transparent));
  background-image: linear-gradient(to bottom, transparent, #bbb, transparent);
}

.header * {
  color: #fff;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.icon {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
}

.logo {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__icon {
  width: 64px;
  height: 64px;
  padding: 10px;
  margin-right: 10px;
}
.logo__title {
  font-size: 2rem;
}

.container {
  margin: auto;
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.header * {
  color: #fff;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.icon {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0;
}

.logo {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo__icon {
  width: 64px;
  height: 64px;
  padding: 10px;
  margin-right: 10px;
}
.logo__title {
  font-size: 2rem;
}

.about {
  padding: 50px;
  margin-bottom: 40px;
}
.about__foto {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__foto img {
  width: 70%;
}
.about__text {
  padding: 20px;
}
.about__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.about__subtitle {
  font-size: 1.5rem;
}

.intrests__title {
  font-size: 2rem;
  text-align: center;
}
.intrests__item {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #bbb;
}
.intrests__item-title {
  font-size: 1.5rem;
  text-align: center;
}
.intrests__item-content {
  padding: 0 5px;
}