.about {
   padding-top: 64px;
   min-height: 100vh;
   background-size: 100%;
   display: flex;
   flex-direction: column;

   .container {
      position: relative;
      padding: 20px;
      margin: 20px auto 0 auto;
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;

      article {
         flex: 1 1 100%;
         border-radius: 20px;
         background-color: rgba($color: #fff, $alpha: .85);
      }
      .arrow {
         padding-top: 10px;
         position: relative;
         left: 50%;
         bottom: 0;
         transform: translate(-50%, -0%);
      }
   }

   &__row {
      flex: 1 0 auto;
      margin-bottom: 30px;
   }

   &__foto {
      position: relative;
      img {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         min-width: 100%;
         max-height: 100%;
         object-fit: contain;
      }
   }

   &__text {
      padding: 20px;
   }
   &__title {
      margin: 20px 0;
      text-align: center;
      font-size: 2.5rem;
   }
   &__subtitle {
      font-size: 1.5rem;
   }
}