@import "./components/about-me";
@import "./components/intrests";
@import "./components/projects";

.ant-layout-content {
   > * {
      margin-top: 40px;
      min-height: 100vh;
   }

   > :first-child {
      margin-top: 0;
   }
}
