.intrests {
   $border-style: 1px solid #bbb;
   overflow-x: hidden;
   display: flex;
   flex-direction: column;

   &__title {
      font-size: 3rem;
      text-align: center;
   }

   &__item {
      transition: all cubic-bezier(0,.5,.5,1) 2s;
      font-size: 2rem;
      padding: 10px;
      width: 50%;
      margin: {
         top: 10px;
         bottom: 10px;
      }
      border: $border-style;
      position: relative;
      &-content {
         padding: 0 5px;
      }
      &-title {
         word-break: break-all;
      }

      &.right {
         right: 0;
         align-self: flex-end;
         text-align: left;

         &._active {
            right: 10%;
         }
         .intrests__item-title {
            font-size: 2.5rem;
            padding: {
               left: 20px;
            }
            text-align: left;
         }
      }
      &.left {
         left: 0;
         align-self: flex-start;
         text-align: right;

         &._active {
            left: 10%;
         }
         .intrests__item-title {
            font-size: 2.5rem;
            padding: {
               right: 20px;
            }
            text-align: right;
         }
      }
   }
}