.intrests {
   $border-style: 1px solid #bbb;

   &__title {
      font-size: 2rem;
      text-align: center;
   }

   &__item {
      
      padding: 10px;
      transition: all ease 1s;

      &-title {
         font-size: 1.5rem;
         text-align: center;
      }
      &-content {
         padding: 0 5px;
      }

      &._active {
         color: blue;
      }
   }
}
